@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&display=swap');

.font-balmond {
    font-family: 'EB Garamond', serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.-left-1\/5 {
    left: -20%;
}
